*.class
*.classpath
*.project
self-code-programs/.metadata/version.ini
self-code-programs/.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.update/623127801.xml
self-code-programs/.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/org.springframework.osgi.io-1.2.1.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/org.springframework.osgi.extensions.annotation-1.2.1.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/org.springframework.osgi.extender-1.2.1.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/org.springframework.osgi.core-1.2.1.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/org.springframework.core-3.0.1.RELEASE-A.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/org.springframework.context.support-3.0.1.RELEASE-A.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/org.springframework.context-3.0.1.RELEASE-A.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/org.springframework.beans-3.0.1.RELEASE-A.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/org.springframework.aop-3.0.1.RELEASE-A.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/org.eclipse.osgi-3.5.1.R35x_v20091005.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/com.springsource.slf4j.org.apache.commons.logging-1.5.6.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/com.springsource.slf4j.log4j-1.5.6.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/com.springsource.slf4j.api-1.5.6.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/com.springsource.org.objectweb.asm-2.2.3.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/com.springsource.org.apache.log4j-1.2.15.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/com.springsource.org.aopalliance-1.0.0.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/com.springsource.net.sf.cglib-2.1.3.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.osgi.targetdefinition/3.8.4.201703310634-RELEASE/target/com.springsource.edu.emory.mathcs.backport-3.1.0.jar
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/properties/.state
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/metadata/.state
self-code-programs/.metadata/.plugins/org.springframework.ide.eclipse.aop.core/.state
self-code-programs/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
self-code-programs/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
self-code-programs/.metadata/.plugins/org.eclipse.ui.intro/introstate
self-code-programs/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
self-code-programs/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
self-code-programs/.metadata/.plugins/org.eclipse.rse.core/.log
self-code-programs/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
self-code-programs/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.0.20180606-2036.xml
self-code-programs/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/fc0ed5562dd44365c97d8e262135f807/write.lock
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/fc0ed5562dd44365c97d8e262135f807/segments_2
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/fc0ed5562dd44365c97d8e262135f807/segments.gen
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/fc0ed5562dd44365c97d8e262135f807/_0.cfs
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/77fed63f07a4a801d70f5a902c3baf3f/write.lock
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/77fed63f07a4a801d70f5a902c3baf3f/segments_2
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/77fed63f07a4a801d70f5a902c3baf3f/segments.gen
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/77fed63f07a4a801d70f5a902c3baf3f/_0.cfs
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/15ad4857df7e3aac07ac9c3a0e97483e/write.lock
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/15ad4857df7e3aac07ac9c3a0e97483e/segments_2
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/15ad4857df7e3aac07ac9c3a0e97483e/segments.gen
self-code-programs/.metadata/.plugins/org.eclipse.m2e.core/nexus/15ad4857df7e3aac07ac9c3a0e97483e/_0.cfs
self-code-programs/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
self-code-programs/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
self-code-programs/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
self-code-programs/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
self-code-programs/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
self-code-programs/.metadata/.plugins/org.eclipse.jdt.core/index.db
self-code-programs/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
self-code-programs/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
self-code-programs/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
self-code-programs/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
self-code-programs/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
self-code-programs/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
self-code-programs/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
self-code-programs/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
self-code-programs/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
self-code-programs/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
self-code-programs/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.dashboard.ui.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.core.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.configurator.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
self-code-programs/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
self-code-programs/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
self-code-programs/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
self-code-programs/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
self-code-programs/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
self-code-programs/.metadata/.mylyn/repositories.xml.zip
self-code-programs/.metadata/.mylyn/.taskListIndex/write.lock
self-code-programs/.metadata/.mylyn/.taskListIndex/segments_1
self-code-programs/.metadata/.log
self-code-programs/.metadata/.lock
self-code-programs/target/
*.prefs
Spring-Boot/sprint-boot-project/hello-service-autoconfigure/target/classes/META-INF/spring-configuration-metadata.json
*.factorypath
Microservices-tutorial/limits-service/target/
